DOM TASK/
DOM pracitce/
Digital Timer/
ES6/
Form Validation/
OTP generator/
Random Password generator/
Random color Generator/
array and object/
aync and await/
domtask.html
domtask.js
error handling/
index.html
index.js
jsobjectn/
local storage/
method/
pratice.html
pratice.js
promises and asynca nad await/
